body {
   position: relative;
}
body:after {
    content : "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("background.jpg"); 
    background-size: 100%;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1;
}

header{
    height:193.5px;
    width: 100%; 
    background-color: #b0c4de;
}

main{
    padding: 100px 0 0 0;
}

p{
    padding: 0 200px 0 500px;
}

h1{
    font-size:400%; 
}